.outerContainer1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1A1A1D;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  height: 80%;
  width: 55%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .outerContainer1 {
    height: 100%;
  }

  .container1 {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container1 {
    width: 60%;
  }
}
